@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --orange-pink-gradient: linear-gradient(110.23deg, #74138D -15.93%, #F08519 55.87%, #F9E002 147%);
  --dark-purple-gradient: linear-gradient(112.58deg, #74138D -3.1%, #4E4892 52.65%, #4E4892 110.05%);
  --custom-black: #1b1b1a;
  --custom-gray: #7f7f7e;
  --swiper-theme-color: #fff;
  --swiper-pagination-bullet-inactive-color: #f59e0b;
  --swiper-pagination-bullet-inactive-opacity: 1;
}

body {
  background-color: var(--custom-black);
  font-family: 'Roboto', sans-serif;
}

main {
  min-height: 100vh;
}

footer {
  background: var(--dark-purple-gradient);
}

header {
  @apply z-50;
}

#footer__logo {
  width: 84px;
}

a {
  @apply hover:text-yellow-500;
}

hr.rotated-hr-left {
  top: -4rem;
  left: 4rem;
  height: 37rem;
}

hr.rotated-hr-right {
  top: -4rem;
  right: 4rem;
  height: 37rem;
}

.video-container { 
  position: relative; 
  padding-bottom: 56.25%; 
  padding-top: 30px; 
  height: 0; 
  overflow: hidden; 
}
.video-container iframe, 
.video-container object, 
.video-container embed { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%;
  height: 100%;
}

.w-150px {
  width: 150px;
}

.bg-custom-black,
.bg-custom-black-phone-tablet {
  background-color: var(--custom-black);
}

.bg-gradient-orange-pink {
  background: var(--orange-pink-gradient);
}

.border-gradient-orange-pink {
  @apply border-solid border-2;
  border-image-slice: 1;
  border-image-source: var(--orange-pink-gradient); 
}

.border-radius-gradient-orange-pink {
  background: 
     linear-gradient(var(--custom-black), var(--custom-black)) padding-box,
     var(--orange-pink-gradient);
  border: 2px solid transparent;
}

.border-gradient-dark-purple {
  @apply border-solid border-2;
  border-image-slice: 1;
  border-image-source: var(--dark-purple-gradient);
}

.border-gradient-orange-pink {
  @apply border-solid border-2;
  border-image-slice: 1;
  border-image-source: var(--orange-pink-gradient);
}

.border-rounded-gradient-orange-pink {
  @apply rounded-full;
  background: 
     linear-gradient(var(--custom-black), var(--custom-black)) padding-box,
     var(--orange-pink-gradient);
  border: 2px solid transparent;
}

.border-radius-gradient-dark-purple {
  background: 
     linear-gradient(var(--custom-black), var(--custom-black)) padding-box,
     var(--dark-purple-gradient);
  border: 2px solid transparent;
}

.border-radius-gradient-orange-pink {
  @apply rounded;
  background: 
     linear-gradient(var(--custom-black), var(--custom-black)) padding-box,
     var(--orange-pink-gradient);
  border: 2px solid transparent;
}

.text-custom-black {
  color: var(--custom-black);
}

.text-gradient {
  background: var(--orange-pink-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-stroke {
  background: var(--orange-pink-gradient);
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
}

.text-gradient-stroke-dark-purple {
  background: var(--dark-purple-gradient);
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
}

.text-gray-stroke {
  background: var(--custom-gray);
  -webkit-background-clip: text;
  -webkit-text-stroke: 2px transparent;
}

.text-white-stroke {
  background: white;
  -webkit-background-clip: text;
  -webkit-text-stroke: 2px transparent;
}

/* Swipper custom */
.swiper {
  max-width: 100%;
  min-height: 300px;
}

.swiper-pagination {
  position: static;
  margin-top: 4rem;
}

.swiper-image-caption {
  bottom: 0;
  right: -.5rem;
  border-radius: .25rem 0 0 .25rem;
}

.media-partner__header {
  top: -1.7rem; 
  left: 2rem;
}

.centered-timeline {
  left:calc(50% - 0.10rem);
}

.changed-border {
  background: 
     linear-gradient(var(--custom-black), var(--custom-black)) padding-box,
     var(--orange-pink-gradient);
  border: 2px solid transparent;
}

.changed-border-reversal {
  background: 
     linear-gradient(var(--custom-black), var(--custom-black)) padding-box,
     var(--dark-purple-gradient);
  border: 2px solid transparent;
}



/* Tablet */
@media screen and (min-width: 768px) {
  #footer__logo {
    width: 62px;
  }
}

/* Laptop */
@media screen and (min-width: 1024px) {
  .bg-custom-black-phone-tablet {
    background-color: transparent;
  }

  .lg\:min-h-300px {
    min-height: 300px;
  }

  .changed-border {
    background: 
       linear-gradient(var(--custom-black), var(--custom-black)) padding-box,
       var(--dark-purple-gradient);
  }

  .changed-border-reversal {
    background: 
       linear-gradient(var(--custom-black), var(--custom-black)) padding-box,
       var(--orange-pink-gradient);
  }
}